@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:        sm - Phone
600 - 900px:      md - Tablet portrait
900 - 1200px:     lg - Tablet landscape
[1200 - 1800]          Where our normal styles apply
1800px +          xl - Big desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin width($breakpoint) {
  @if $breakpoint==sm {
    // 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==md {
    // 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==lg {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint==xl {
    // 1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
