// COLOR
$color-primary: #fe9021;
$color-primary-light: #f7aa37;
$color-primary-dark: #ec5b1b;

$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$font-default-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem