body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &--white {
    color: $color-white;
  }

  &--color {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  }

  &:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $font-default-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $font-default-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}