.u-center-text {
  text-align: center !important;
}

.mb-small {
  margin-bottom: 1.5rem !important;
}

.mb-medium {
  margin-bottom: 4rem !important;
}

.mb-big {
  margin-bottom: 8rem !important;
}

.mt-big {
  margin-top: 8rem !important;
}

.mt-huge {
  margin-top: 10rem !important;
}