.u-center-text {
  text-align: center;
}

.mb-small {
  margin-bottom: 1.5rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-big {
  margin-bottom: 8rem;
}

.mt-big {
  margin-top: 8rem;
}

.mt-huge {
  margin-top: 10rem;
}